.spinner {
  font-size: 140px; /* Set font size for spinner */
}

.spinner:after {
  content: '◌'; /* Content for the spinner element */
}

#chart {
  border: 1px solid black; /* Add a border to the chart canvas */
}

/* Define the keyframes for rotation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Apply the animation to .spinner */
.spinner {
  font-size: 140px;
  display: inline-block;
  width: 140px; /* Without this line the spinner rotates too wide */
  animation: spin 5s linear infinite; /* Adjust the duration (30s) as needed */
}